.hero {
  display: flex;
  justify-content: space-between;
}
.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.right-h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
}

.the-best-ad {
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: fit-content;
  padding: 25px 100px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-best-ad span {
  z-index: 2;
}
.the-best-ad div {
  position: absolute;
  background-color: var(--orange);

  height: 80%;
  left: 8px;
  right: 8px;
  border-radius: 3rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  text-overflow: inherit;
}

.hero-text div:nth-of-type(3) {
  font-size: 1.1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  letter-spacing: 1px;
  width: 80%;
}

.figure {
  display: flex;
  gap: 3rem;
}

.figure div {
  display: flex;
  flex-direction: column;
}

.figure div span:nth-of-type(1) {
  color: #fff;
  font-size: 2.5rem;
}

.figure div span:nth-of-type(2) {
  color: var(--gray);
  text-transform: uppercase;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  font-weight: normal;
}

.hero-buttons :nth-child(1) {
  color: #fff;
  background-color: var(--orange);
  width: 8rem;
}

.hero-buttons :nth-child(2) {
  color: #fff;
  background-color: transparent;
  width: 8rem;
  border: 2px solid var(--orange);
}

.right-h .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: #000;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  align-items: flex-start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
}

.heart-rate img {
  width: 2rem;
}

.heart-rate span:nth-child(2) {
  color: var(--gray);
}

.heart-rate span:nth-child(3) {
  color: #fff;
  font-size: 1.5rem;
}

.hero-image {
  position: absolute;
  top: 5rem;
  right: 15rem;
  width: 45rem;
}

.hero-image-back {
  position: absolute;
  top: 4rem;
  right: 29.6rem;
  width: 20rem;
  z-index: -1;
}

.calories {
  display: flex;
  gap: 2rem;
  background-color: var(--caloryCard);
  border-radius: 5px;
  padding: 1rem;
  width: 11rem;
  position: absolute;
  top: 43rem;
  right: 58rem;
}

.calories img {
  width: 3rem;
}

.calories div {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.calories div :nth-child(1) {
  color: var(--gray);
}

.calories div :nth-child(2) {
  color: #fff;
  font-size: 1.5rem;
}

.hero-blur {
  width: 25rem;
  height: 30rem;
  left: 0;
  top: 3rem;
}

@media screen and (max-width: 1700px) {
  .hero-image {
    top: 15rem;
    right: 5rem;
    width: 30rem;
  }

  .hero-image-back {
    width: 15rem;
    top: 15rem;
    right: 24.5rem;
  }

  .calories {
    right: 35rem;
  }
}

@media screen and (max-width: 1440px) {
  .hero-text {
    font-size: 5rem;
  }

  .hero-text div:nth-of-type(3) {
    font-size: 0.9rem;
  }

  .figure {
    gap: 2rem;
  }

  .figure div span:nth-of-type(1) {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .hero-blur {
    width: 14rem;
  }

  .the-best-ad {
    margin-top: 0;
    font-size: small;
    text-align: center;
    align-self: center;
    transform: scale(0.8);
  }

  .hero-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }

  .hero-text > div:nth-of-type(3) {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .figure {
    justify-content: center;
  }

  .figures > div > span:nth-of-type(1) {
    font-size: large;
  }

  .figures > div > span:nth-of-type(2) {
    font-size: small;
  }

  .right-h {
    position: relative;
    background: none;
  }

  .heart-rate {
    left: 1rem;
    top: 2rem;
  }

  .calories {
    position: relative;
    top: 5rem;
    left: 2rem;
  }

  .calories img {
    width: 2rem;
  }

  .calories div :nth-child(2) {
    color: #fff;
    font-size: 1rem;
  }

  .hero-image {
    position: relative;
    width: 45rem;
    left: 7rem;
    top: 4rem;
    align-self: center;
  }

  .hero-image-back {
    width: 20rem;
    left: 7rem;
    top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    width: 30rem;
    left: 7rem;
    top: 4rem;
  }

  .hero-image-back {
    width: 10rem;
    left: 10rem;
    top: 8rem;
  }
}

@media screen and (max-width: 540px) {
  .figure div span:nth-of-type(1) {
    font-size: 1.5rem;
  }

  .figure div span:nth-of-type(2) {
    font-size: 0.7rem;
  }

  .hero-image {
    width: 20rem;
    left: 2rem;
    top: 4rem;
  }

  .hero-image-back {
    width: 10rem;
    left: 2rem;
    top: 0;
  }
}
