.header{
    display: flex;
        justify-content: space-between;
}
.logo
{
    width: 10rem;
    height: 3rem;
}
.header-menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
}
.header-menu>li:hover {
    cursor: pointer;
    color: orange;

}