.navbar {
  display: none;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.navbar-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--orange);
    z-index: 8;
  }
}
