.hero{
    display: flex;
    justify-content: space-between;

}

.left{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.right{
    flex: 1;
    position: relative;
    background-color: #FF8C00;
}

.ad{
    margin-top: 4rem;
    background-color:orange;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}

.quote{
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
    color: white;

}

.figures{
    display: flex;
    gap: 2rem;
}

.figures>div{
    display: flex;
    flex-direction: column;
}

.figures>div>span:nth-of-type(1){
    color: white;
    font-size: 2rem;
}

.figures>div>span:nth-of-type(2){
    color: gray;
}


.hero-buttons{
display: flex;
gap: 1rem;
font-weight: normal;
}

.hero-buttons>:nth-child(1){
    color: white;
    background-color: orange;
    width: 8rem;
}

.hero-buttons>:nth-child(2){
    color: white;
    background-color: transparent;
    border: 2px solid orange;
    width: 8rem;
}


.right>.btn{
    position: absolute;
    right: 3rem; top: 2rem; color: black;
}

.heart-rate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: gray;
    width: fit-content;
    padding: 1rem;
    align-items: start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;

}
.heart-rate>img{
    width: 2rem;
}

.heart-rate>span>:nth-of-type(2){
    color: grey;
}

.heart-rate>span>:nth-of-type(3){
    color: white;
    font-size: 1.5rem;
}

.hero-image{
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 23rem;
}

.hero-image-back{
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
}

.calories{
    display: flex;
    gap: 2rem;
    background-color: var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position:absolute;
    top: 32rem;
    right: 28rem;
}


.calories>img{
    width: 3rem;
}

.calories>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calories>div>:nth-child(1){
   color: grey;
}

.calories>div>:nth-child(2){
    color: white;
    font-size: 1.5rem;
}




